<h1><%= @movie.title %></h1>
<ul>
    <li>Directed by <%= @movie.director %></li>
    <li>year: <%= @movie.year %></li>
    <li>formats:</li>
    <li>VHS quantity available: <%= @movie.vhs_count %></li>
    <li>DVD quantity available: <%= @movie.dvd_count %></li>

</ul>

<form method='POST' action="/members">
<input type="checkbox" name="member[movie_id][]" id="movie_<%= @movie.id %>" value="<%=@movie.id%>">
<input type='submit' value='submit'>
</form>